.SignToWordMatcher {
    width: 100%;
    height: 100%;
    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    &__dropItems {
        display: flex;
        align-items: center;
        gap: 10%;
    }
    &__moveItems {
        display: flex;
        align-items: center;
        gap: 15%;
    }
}