.ChoiceRightImage {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }
    &__content {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
.ImageVariant {
    cursor: pointer;
    width: 150px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 4px solid #000;
    &:hover {
        box-shadow: 6px 0px 10px #000;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &.correct {
        background-color: var(--primary-medium);
    }
    &.incorrect {
        opacity: 0;
    }
}