.SignToWordMoveItem {
    width: 200px;
    height: 30px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffc582;
    color:#000;
    cursor: grab;
}