.PhoneticTrainer{
    &__inner {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__content {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }
    &__variant {
        width: 200px;
        position: relative;
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 2px #000;
        }
        &_content {
            position: absolute;
            height: auto;
            padding: 5px;
            width: 150px;
            top: 0;
            right: 0;
            background-color: #8b8888;
            border-radius: 12px;
            z-index: 10;
            color:#fff;
        }
        &_image {
            width: 100%;
            height: auto;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &--left {
            .PhoneticTrainer__variant_content {
                left: -50%;
                top: -15%;
            }
        }
        &--right {
            .PhoneticTrainer__variant_content {
                right: -50%;
                top: -15%;
            }
        }
    }
}