.Theory {
    height: 100%;
    &__start_btn {
        width: 150px;
        height: 150px;
        background-color: var(--primary-medium);
        color:#fff;
        border-radius: 100%;
        font-size: 27px;
        font-weight: 700;
        
    }
    &__progress {
        &_steps {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &Main {
            display: flex;
    flex-direction: column;
    height: 100%;
    }
    &Footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }
}
.TheoryStart {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
}
.TheoryContent {
    &__title {
        font-size: 29px;
        font-weight: 700;
        font-family: sans-serif;
    }
    &__text {
        p {
            font-size: 19px;
            font-weight: 500;
            font-family: sans-serif;
            line-height: 200%;
        }
    }
}