.SyllableBuilder {
	font-family: sans-serif;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	&__main {
		width: 450px;
		height: 150px;
		border: 3px solid #000;
		background-color: #cfc9b4;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
	&__word-part {
		font-size: 35px;
	}
	&__variants {
		display: flex;
		align-items: center;
		gap: 15px;
	}
}
.SyllableBuilder__fixed-part {
	color: #fff;
	font-size: 27px;
}
