.SyllableBuilder {
	font-family: sans-serif;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	&__table {
		width: 600px;
		height: 200px;
		background-color: var(--primary-medium);
		border-radius: 16px;
		border: 5px solid #000;

		&__inner {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			gap: 16px;
		}
	}

	&__variants {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
		justify-content: center;
		min-height: 80px;
		padding: 16px;
		border-radius: 8px;
		background-color: #f5f5f5;
	}
}
.SyllableSlot {
	background-color: #fff;
	height: 40px;
	width: 50px;
	border-radius: 12px;
	&__value {
		color: #000;
		font-size: 24px;
	}
	&--filled {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}
.SyllableBuilder__fixed-part {
	color: #fff;
	font-size: 27px;
}
