.StoryReorderItem {
    width: 100%;
    min-height: 50px;
    padding: 2px;
    border-radius: 12px;
    background-color: var(--primary-medium);
    cursor: move;
    margin-top: 5px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        span {
            color:#fff;
            font-size: 19px;
            font-family: sans-serif;
        }
    }
}