.ConversationFinder {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__slider {
        display: flex;
        align-items: center;
    }
  &__col {
    position: relative;
    &_text {
position: absolute;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
min-width: 150px;
padding: 10px;
background-color: #645e5e;
border-radius: 16px;
span {
    color:#fff;
    
}
  }}
        &__image {
            width: 300px;
            height: 600px;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    
}
.btn-next,.btn-prev {
    background-color: #000;
    padding: 5px;
    color: #fff;
    border-radius: 12px;
}