.DialogSlot {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    span {
        color:#fff;
        font-size: 21px;
        font-weight: 700;
        font-family: sans-serif;
    }
    &__input {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background-color: #837b7b;
    }
}