.Conclusion {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__main {
		width: 100%;
		padding: 10px;
		border-radius: 12px;
		background-color: var(--primary-medium);
		transition: max-height 0.5s ease-in-out;
	}
	&__row {
		margin-right: 5px;
		color: #fff;
		font-size: 21px;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		transition: all 0.5s ease-in-out;
		&.visible {
			position: unset;
			visibility: visible;
			opacity: 1;
		}
	}
	&__variants {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
