.Conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__main {
        width: 100%;
        padding: 10px;
        height: 100px;
        border-radius: 12px;
        background-color: var(--primary-medium);
        span {
            color:#fff;
            font-size: 21px;
            // vertical-align: middle;
        }
    }
    &__variants {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}