.UnitCounter {
	width: 300px;
	border-radius: 25px;
	height: 400px;
	border: 10px solid #000;
	background-color: var(--primary-medium);
	&__inner {
		padding-top: 30px;
	}
	&__content {
        margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 20px;
		justify-items: center;
		span {
			width: 50px;
			height: 50px;
			background-color: #fff;
			border: 5px solid #6e6a6a;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
            user-select: none;
            font-size: 20px;
            &:hover {
                cursor: pointer;
                background-color: #6e6a6a;
                color: #fff;
            }
		}
	}
	&__window {
		width: 100%;
		height: 60px;
		background-color: #6e6a6a;
		padding: 7px;
		&_content {
			width: 100%;
			height: 100%;
			border-radius: 5px;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			span {
				font-size: 30px;
				// font-weight: 900;
				font-family: sans-serif;
			}
		}
	}
}
