.IsCorrect {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 4px solid #a09c9c;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__divider {
        height: 2px;
        width: 50%;
        background-color: #a09c9c;
    }
    &__main {
        padding: 20px;
        width: 600px;
        height: 200px;
        background-color: var(--primary-medium);
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__inner {
        span {
            font-size: 21px;
            line-height: 200%;
        }
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            font-size: 21px;
            line-height: 200%;
        }
    }
    &__variants {
        display: flex;
        gap: 10px;
    }
}