.DropBox {
	width: 150px;
	height: 90px;
	border-radius:12px;
	// overflow: hidden;
	// background-color: var(--primary-medium);
    background-color:var(--primary-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: transform 0.15s ease-in-out;
	&.over {
		transform: scale(1.1);
	}
	&__box {
		padding: 5px;
		width: 100%;
		height: 40px;
		// background-color:var(--primary-dark);
        // background-color: var(--primary-medium);
		color:#fff;
		position: relative;
		border-top-right-radius:12px;
		border-top-left-radius: 12px;
	}
    &__bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: var(--primary-medium);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
	&__image {
		width: 90px;
		height: 50px;
		position: absolute;
		bottom: 0;
		img {
			display: block; 
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__card {
		position: absolute;
		width: 90%;
		height: 70px;
		top: -10px;
        transform: rotate(10deg);
		background-color: #fff;
		border-radius:12px;
		color:#000;
		text-align: center;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}