.AttestationItem {
	border-radius: 24px;
	// margin-top: 20px;
	padding: 16px;
	padding-bottom: 25px;
	width: 100%;
	// height: 44px;
	background: var(--neutral-lightest);
	&__top {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	&__counter {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}
	&__title {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		color: var(--neutral-darkest);
	}
	&.active {
		border: 2px solid var(--neutral-medium);
		background: var(--neutral-white);
		padding: 14px;
	}
}
