.VocabularyIntro {
    flex-grow: 1;
    &__main {
        margin-top: 10%;
        display: flex;
        align-items: center;
        gap:10px;
        span {
            font-size: 51px;
            font-weight: 700;
        }
    }
}