.SyllableSlot {
	font-size: 24px;
	background-color: #fff;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border: 1px solid var(--primary-medium);
	transition: all 0.3s ease;
}

.drop-zone {
	&.drag-over {
		.SyllableSlot {
			border-color: #4caf50;
			background-color: rgba(76, 175, 80, 0.1);
			transform: scale(1.05);
		}
	}
}
