.LinksTrainer {
	display: flex;
	align-items: start;
	justify-content: start;
	flex-wrap: wrap;
	gap: 15px;
}
.ItemTrainerLink {
	flex-basis: 10%;
	height: 100px;
	box-shadow: 1px 1px 10px 1px #000;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.MainCard {
	height: auto !important;
}
