.SyllableBuilderVariant {
	width: 70px;
	height: 70px;
	border: 1px solid var(--primary-medium);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: grab;
	// transition: 0.3s ease-in-out;
	user-select: none;
	span {
		font-size: 29px;
		font-weight: 700;
	}
	&:hover {
		scale: 1.1;
	}
}
