.VocabularyTrainer {
    height: 100%;
    &__inner {
        height: 100%;
        display: flex;
        align-items: start;
    }
    &__image_col {
        border-radius: 12px;
        width: 50%;
        height: 100%;
        background-color: var(--primary-medium);
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__content_col {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__content_bottom {
        margin-top: auto;
    }
}