.PuzzleDragItem {
    width: 100%;
    height: 120px;
    background-color: #613737;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color:#fff;
    font-size: 21px;
    padding: 20px;
}