.DialogVariant {
    background-color: #fff;
    text-align: center;
    // color:#fff;
    padding: 5px;
    border-radius: 12px;
    span {
        font-size: 21px;
        font-family: sans-serif;
        color:#000;
        line-height: 150%;
    }
}