.ConnectLetters {
	&__area {
		position: relative;
		width: 100%;
		height: 500px;
		border: 1px solid #000;
		border-radius: 12px;
	}
}
.Letter {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: var(--primary-medium);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 100%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	&:hover {
		box-shadow: 0px 0px 3px 5px var(--primary-medium);
	}
	&.selected {
		box-shadow: 0px 0px 3px 5px var(--primary-medium);
	}
}
