.WhatIs {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__content {
        font-size: 27px;
        font-weight: 500;
    }
    &__question {
        span {
            font-size: 21px;
            font-weight: 700;
        }
    }
    &__variants {
        max-width: 500px;
        &_list {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        &_item {
            flex-basis: 30%;
            flex-grow: 1;
            flex-shrink: 1;
            text-align: center;
            border: 1px solid rgb(34, 165, 34);
        }
    }
}