.WordClick__main {
	width: 100%;
	height: 300px;
	background-color: var(--primary-medium);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.WordClick__content {
	display: flex;
	align-items: center;
	gap: 10px;
}
.WordClick__words {
	font-size: 21px;
	color: #fff;
}
.WordClick__word {
    padding: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: #f0f0f0;
    }
    
    &--selected {
      background-color: #4CAF50;
      color: white;
      padding: 2px 4px;
      border-radius: 4px;
    }
  }