.FillInVariant {
    	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: 150px;
	height: 40px;
	text-align: center;
    z-index: 999;
	background-color: var(--primary-medium);
		border-radius:12px;
		cursor:pointer;
        span {
            color:#fff;
        }
		&.disabled {
			opacity: 0.7;
		}
}