.TableSlot {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    background-color: #858383;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &.filled {
        background-color: transparent;
    }
}