.DialogTrainer {
    width: 100%;
    min-height: 500px;
    // background-color: #878690;
    &__inner {
        height: 100%;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
    &__variants {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.DialogWindow {
    width: 300px;
    height: 300px;
    background-color: #a5bd9e;
    border-radius: 12px;
    &__inner {
        padding: 10px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}