// styles.scss
.TicketWord {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    overflow: hidden;
    user-select: none; 
    position: relative;

    // &:focus {
    //   outline: 2px solid #007bff;
    //   outline-offset: 2px;
    // }
    
    &--empty {
      padding: 0 10px;
      color: #666;
      font-style: italic;
    }
    
    &__window {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    &__item {
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      color:var(--primary-medium)
    }
    &__blot {
        position: absolute;
        width: 60%;
        z-index: 10;
        top: 0;
        right: 0;
        height: 100%;
        border-radius:12px;
        transform: rotate(15deg);
        background-color: var(--primary-medium);
        &.hidden {
            display: none;
        }
    }
  }