.VariantItem {
    max-width: 200px;
    width: 100%;
    height: 50px;
    border-radius: 16px;
padding: 12px 20px;
background: var(--neutral-lightest);
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: var(--neutral-darkest);
cursor: pointer;
&.selected {
    border: 2px solid var(--primary-medium);
    background: var(--primary-lightest);
}
&.disabled {
    opacity: 0.5;
}
&.correct {
    background-color: var(--primary-medium);
    color: #fff;
}
&.incorrect {
    background-color: red;
    color:#fff;
}
}