.SolveRiddle {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	&__content {
		width: 500px;
	}
	&__slots {
		height: 150px;
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__letters {
		display: flex;
		gap: 5px;
		flex-wrap: wrap;
	}
}

.SolveRiddleSlot {
	background-color: #edd8a6;
	// #edd8a6
	// #e8c858
	width: 50px;
	height: 70px;
	border-radius: 12px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 21px;
}
.SolveRiddleLetter {
	background-color: #e8c858;
	width: 50px;
	height: 70px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 27px;
	color: #fff;
	cursor: pointer;
	&:hover {
		box-shadow: 2px 2px 10px #000;
	}
}
