:root {
	--neutral-white: #fff;
	--black-color: #000;
	--neutral-dark: #494949;
	--neutral-black: #060606;
	--neutral-light: #d6d6d6;
	--neutral-medium: #7d7979;
	--primary-medium: #1baa7d;
	--primary-light: #7bcca9;
	--primary-dark: #198261;
	--neutral-lightest: #f5f5f5;
	--neutral-darkest: #303030;
	--primary-lightest: #ebfaf3;
	--primary-darkest: #0f4f3b;
	--negative-darkest: #4f140f;
	--negative-dark: #a92f22;
	--negative-medium: #e52914;
	--negative-light: #cc817b;
	--negative-lightest: #faeceb;
	--warning-darkest: #602706;
	--warning-dark: #ad4509;
	--warning-medium: #f06c20;
	--warning-light: #f2c5aa;
	--warning-lightest: #fdece3;

	--font-family: 'Zona Pro', sans-serif;
	--second-family: 'Unbounded', sans-serif;
	--third-family: 'Roboto', sans-serif;
	--dashboardMenu-width: 228px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	max-width: 1246px;
	padding: 0 15px;
	margin: 0 auto;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.is-hidden {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}

a {
	text-decoration: none;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: transparent;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	outline: none;
}
.bg-v {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;
		background-color:yellow;
	top: 0;
	left: 0;
	z-index: 999;
	}
	background-image: url("./assets/1.png");
}