:root {
	--neutral-white: #fff;
	--black-color: #000;
	--neutral-dark: #494949;
	--neutral-black: #060606;
	--neutral-light: #d6d6d6;
	--neutral-medium: #7d7979;
	--primary-medium: #1baa7d;
	--primary-light: #7bcca9;
	--primary-dark: #198261;
	--neutral-lightest: #f5f5f5;
	--neutral-darkest: #303030;
	--primary-lightest: #ebfaf3;
	--primary-darkest: #0f4f3b;
	--negative-darkest: #4f140f;
	--negative-dark: #a92f22;
	--negative-medium: #e52914;
	--negative-light: #cc817b;
	--negative-lightest: #faeceb;
	--warning-darkest: #602706;
	--warning-dark: #ad4509;
	--warning-medium: #f06c20;
	--warning-light: #f2c5aa;
	--warning-lightest: #fdece3;

	--font-family: 'Zona Pro', sans-serif;
	--second-family: 'Unbounded', sans-serif;
	--third-family: 'Roboto', sans-serif;
	--dashboardMenu-width: 228px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	max-width: 1246px;
	padding: 0 15px;
	margin: 0 auto;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.is-hidden {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}
.Main {
	background: var(--neutral-lightest);
}
a {
	text-decoration: none;
}
.MainSection {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: transparent;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

	outline: none;
}
.bg-v {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;
		background-color:yellow;
	top: 0;
	left: 0;
	z-index: 999;
	}
	background-image: url("./assets/1.png");
}
.correct-variant {
	background-color: #1baa7d !important;
	color:#fff !important;
}
.incorrect-variant {
	background-color: #e52914 !important;
	color:#fff !important;
}
.other-variants {
	background-color: #7d7979 !important;
}
.selected-var {
	border: 2px solid yellow;
}
.MoveBoxes {
	display: flex;
	align-items: center;
	gap: 15px;
	list-style: none;
	margin-bottom: 100px;
}

.DropBoxes {
	display: flex;
	align-items: center;
	gap: 15px;
}
.ChoiceRightVariant {
	&__title {
			font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
line-height: 150%;
color: var(--neutral-darkest);
	}
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		padding-top: 5%;
	}
	&__variants {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}
}
.lis-item {
	width: 150px;
	height: 50px;
	border: 1px solid #000;
	a {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
	}
}
.Dialog {
	background-color: #f3f3ff;
	min-height: 100vh;
}
.DialogCard {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.ChoiceRightImage__wrapper {
	display: flex;
flex-direction: column;
align-items: center;
}
.LinksTrainer {
	display: flex;
	align-items: start;
	justify-content: start;
	flex-wrap: wrap;
	gap: 15px;
}
.ItemTrainerLink  {
	flex-basis: 10%;
	height: 100px;
	box-shadow: 1px 1px 10px 1px #000;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Example {
	height: 100vh;
	background-color: #f7d9d9;
	display: flex;
	align-items: center;
	justify-content: center;
}