.Modal {
	min-width: 300px;
	height: 400px;
	background-color: #fff;
	border-radius: 12px;
	position: relative;
	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 999;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__close {
		position: absolute;
		top: 12px;
		right: 12px;
	}
}
