.CryptItem {
    padding: 5px;
    color:#fff;
    font-size: 43px;
    font-weight: 700;
    vertical-align: bottom;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: left;
    span {
        vertical-align: bottom;
    }
    &.CryptItemSelected {
        border-radius: 12px;
        background-color: rgb(128, 128, 240);
    }
}