.SlotInput {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbbbbb;
    width: 100px;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    &__filled {
        border:none;
        text-wrap: nowrap;
        padding: 0;
        height: auto;
        background-color: transparent;
    }
}