.Alphabet {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: end;
	&__content {
		width: 500px;
		// height: 600px;
		background-color: #fff;
		box-shadow: 5px 5px 5px #000;
		border-radius: 12px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 2px;
	}
	&__item {
		flex-basis: 10%;
		height: 50px;
		font-size: 24px;
		font-family: sans-serif;
		border-radius: 10px;
		color: #fff;
		background-color: var(--primary-medium);
	}
}
