.TextArchitect {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.TextArchitectScheme {
    width: 100%;
    height: 300px;
    &__inner {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 15px;
    }
}
.TextArchitectSchemeSlot {
    display: inline-flex;
    gap: 5px;
    span {
        font-size:41px;
        font-weight: 900;
    }
}
.TextArchitectSchemeSlot_item {
    width: 70px;
    height: 70px;
    &-start {
        background-image: url("./start.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    &-word {
        background-image: url("./word.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    &-end {
        background-image: url("./end.svg");
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    &-question {
        background-image: url("./54.svg");
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    &-mark {
        background-image: url("./66.svg");
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}