.StoryPuzzleSolver {
    width: 100%;
    height: 100%;
    &__content {
        height: 100%;
        display: flex;
        align-items: start;
        gap: 10px;
    }
    &__inner {
        height: 100%;
        padding: 10px;
    }
    
    &__dropColumn {
        width: 50%;
        height: 100%;
        background-color: #613737;
        border-radius: 26px;
        &_inner {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
        }
    }
    &__dragColumn {
        width: 50%;
        height: 100%;
        &_inner {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
        }
    }
}