.ColorWords {
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__tools {
		display: flex;
		align-items: center;
		gap: 10px;
		border: 1px solid #000;
		border-radius: 12px;
		padding: 10px;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__tool {
		display: flex;
		align-items: center;
		gap: 5px;
		transition: all 0.2s ease;

		&--active {
			box-shadow: 0 0 0 2px #4caf50;
			transform: translateY(-2px);
		}

		i {
			display: block;
			width: 15px;
			height: 15px;
			border-radius: 100%;
		}
	}

	&__content {
		background-color: #f7e7cd;
		width: 100%;
		max-width: 600px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 50px);
		gap: 10px;
		padding: 15px;
		border-radius: 12px;
	}
}

.ColorWord {
	border: 2px solid #ddd;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	font-weight: 500;
	background-color: white;

	&:hover {
		border-color: #888;
		transform: translateY(-2px);
	}

	span {
		user-select: none;
	}

	&--blue {
		background-color: rgba(0, 0, 255, 0.1);
		border-color: blue;
		color: blue;
	}

	&--red {
		background-color: rgba(255, 0, 0, 0.1);
		border-color: red;
		color: red;
	}
}
