.DecryptMsgDND {
    width: 100%;
    height: 500px;
    background-color: #beb4b4;
    border-radius: 12px;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__cryptWindow {
        
    }
}
.DecryptMsgDND__variants {
    display: flex;
    align-items: center;
    gap: 10px;
}