.AlphabeticalSorter {
	&__slots {
		max-width: 500px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
	&__variants {
		&-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__variant {
		width: 150px;
		border-radius: 19px;
		cursor: grab;
		user-select: none;
	}
}
